.arraytextadapt-hidden *{
    color:rgba(0, 0, 0, 0);
}
.checkbox .checkbox-label-arrayTextAdapt{padding-left:0}
.radiostar-rating.fa{font-size:3em}
.radiostar-rating{cursor:pointer}

.radiostar-cancel{color:#CCC}
.radiostar-cancel:hover{color: #a94442;}
.radiostar{color:#337ab7}
.radiostar-rated{color:#31708f;}
